---
name: Clean runs
on:
  workflow_dispatch:

jobs:
  delete_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: dmvict/clean-workflow-runs@v1.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          save_period: 7
